body{
    background-color:rgb(190, 219, 238);
    font-family: sans-serif;
}
h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}
h2{
    background-color: rgb(3, 129, 187);
    font-size: 30px;
}
h3{
    background-color: rgb(116, 171, 196) ;
    color: white;
    font-size: 25px;
}
p{text-align: justify;
}
blockquote{
    font-style: italic;
}
pre{
    background-color: white;
    font-size: 12px;
    font-weight: bold;
}
address{
    font-family: serif;
    font-style: normal;
    text-align: right;
}